<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${artist.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MusicStats</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" data-th-text="${artist.name}"></h5>
                    <p class="card-text mb-0" data-th-text="|Количество альбомов: ${#lists.size(artist.albums)}|"></p>
                    <p class="card-text" data-th-text="|Spotify Id: ${artist.spotifyId}|"></p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="d-flex flex-wrap flex-row">
                        <div
                                class="col-auto px-2 py-2 mx-1 my-1 border border-primary rounded"
                                data-th-each="genre: ${artist.genres}"
                                data-th-text="${genre.name}"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row g-4">
                    <div class="col-auto" data-th-each="album: ${artist.albums}">
                        <div class="card" style="max-width:250px">
                            <img data-th-src="${album.imgUrl}" style="width:250px;height:250px" class="card-img-top"
                                 data-th-alt="${album.name}">
                            <div class="card-body">
                                <h5 class="card-title" data-th-text="${album.name}"></h5>
                                <p class="card-text" data-th-text="${#lists.size(album.tracks)}"></p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex flex-row justify-content-around">
                                    <!-- используем data-th-href задания параметризированной ссылки  -->
                                    <!-- используем || как параметризированную строку  -->
                                    <a data-th-href="|${artist.id}/albums/${album.id}|" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                        </svg>
                                    </a>
                                    <!-- используем data-th-href задания параметризированной ссылки  -->
                                    <!-- используем || как параметризированную строку  -->
                                    <a data-sec-authorize="hasAuthority('ADMIN')" data-th-href="@{|${artist.id}/albums/edit/${album.id}|}" class="btn btn-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                                        </svg>
                                    </a>
                                    <!-- Оборачиваем кнопку и поле в форму, так как все изменения выполняем через POST метод -->
                                    <form data-sec-authorize="hasAuthority('ADMIN')" data-th-action="@{|${artist.id}/albums/remove|}" method="post">
                                        <!-- Используем скрытое поле (hidden), чтобы незаметно пробрасывать в форму id записи -->
                                        <!-- Используем data-th-value для задания значения полю -->
                                        <input id="id" name="id" hidden data-th-value="${artist.id}">
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                    <form data-sec-authorize="hasAuthority('USER')" data-th-action="@{|${artist.id}/albums/like|}" method="post">
                                        <!-- Используем скрытое поле (hidden), чтобы незаметно пробрасывать в форму id записи -->
                                        <!-- Используем data-th-value для задания значения полю -->
                                        <input id="albumId" name="albumId" hidden data-th-value="${album.id}">
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-sec-authorize="hasAuthority('ADMIN')" class="col-auto align-self-center">
                        <div class="card border-0" style="min-width:250px">
                            <div class="row justify-content-center g-0">
                                <div class="col-auto">
                                    <a data-th-href="|/artists/${artist.id}/albums/add|" class="btn btn-outline-success px-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" fill="currentColor"
                                             class="bi bi-patch-plus" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>