<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование исполнителя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MusicStats</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/artists/edit" method="post">
                <!-- Используем скрытое поле (hidden), чтобы незаметно пробрасывать в форму id записи -->
                <!-- Используем data-th-value для задания значения полю -->
                <input id="id" name="id" hidden data-th-value="${artistDTO.id}">
                <div class="row my-3">
                    <label for="name" class="col-sm-2 col-form-label">Исполнитель</label>
                    <div class="col-8">
                        <input data-th-value="${artistDTO.name}" type="text" class="form-control" name="name" id="name">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-text="${#fields.errors('artistDTO.name')}"
                            data-th-if="${#fields.hasErrors('artistDTO.name')}"
                    ></div>
                </div>
                <div class="row mb-3">
                    <label for="spotifyId" class="col-sm-2 col-form-label">Spotify Id</label>
                    <div class="col-8">
                        <input data-th-value="${artistDTO.spotifyId}" type="text" class="form-control" name="spotifyId"
                               id="spotifyId">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-if="${#fields.hasErrors('artistDTO.spotifyId')}"
                            data-th-each="err : ${#fields.errors('artistDTO.spotifyId')}"
                            data-th-text="${err}"
                    ></div>

                </div>
                <div class="row container text-center">
                    <div class="row">
                        <div
                                data-th-each="genre: ${genres}"
                                class="col-3"
                        >
                            <div class="form-check border">
                                <label data-th-for="|genre-${genre.id}|"
                                       class="form-check-label"
                                       data-th-text="${genre.name}"
                                ></label>
                                <input data-th-id="|genre-${genre.id}|"
                                       type="checkbox" class="form-check-input"
                                       data-th-name="|genre-${genre.id}|"
                                       data-th-checked="${#maps.containsKey(genresValue, genre.name)}"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>